/*******************************************
GENERAL
********************************************/
body {
  font-family: 'Dyslexie';
}

/*******************************************
HEADING
********************************************/
header {
box-shadow: 0 1px 3px rgba(0,0,0,0.13),0 1px 0 rgba(0,0,0,0.19);
height: 106px;
}

nav {
  background-color: #00BFFF;
  height: 106px;
  line-height: 106px;
}
nav ul {
  padding-left: 0px;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  font-family: 'Dyslexie';
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: red;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 3px solid #00BFFF;
}

nav ul li a:hover {
  border-bottom-color: red;
}

.go-left {
  float: left;
  height: 106px;
}

.go-right {
  float: right;
}

.logo a img {
  max-width: 100px;
  margin: 3px;
  border-radius: 100%;
}

/***************************************Article Index***************************************/
.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.article-index {
  background-color: #fafafc;
  padding: 30px 30px 0 0;
  position: relative;
  display: block;
}

.headline {
  position: relative;
  max-width: 970px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: red;
}

.tab-content {
  overflow: visible;
  padding: 30px 0 0 0;
  position: relative;
  display: inline-block;
}

.tab-pane {
  display: inline-block;
}

.article-items-in {
  padding-bottom: 20px;
}

.row, .row-new {
  margin-left: -1.28205%;
  margin-right: -1.28205%;
}

.article-thumb {
  width: 30.76923%;
  float: left;
  position: relative;
  min-height: 1px;
  margin-left: 1.28205%;
  margin-right: 1.28205%;
}

.article-title h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.article-title h2 a {
text-decoration: none;
color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
